{% extends 'base.html' %}

{% block title %}Resete sua senha{% endblock%}

{% block content %}
    <h1>Resete sua senha</h1>
    {% if validlink %}
        <p>Por favor entre com a sua nova senha</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Mudar minha senha">
        </form>
    {% else %}
        <p>
            O link de redefinição de senha era inválido, possivelmente porque
            já foi usado. Por favor, solicite uma nova redefinição de senha.
        </p>
    {% endif %}
{% endblock %}